html, body {
	background-color: #1a1a1a;
	margin: 0;
	height: 100%;
	font-family: 'ProximaNovaRegular';
}

.wrapper-container {
	color: #fff;
	width: 100%;
	height: 100%;
}

.left-panel {
    width: 29%;
    height: 100%;
    color: #fff;
    display: inline-block;
    vertical-align: top;
}

.news-panel-title {
	padding: 8px;
    text-align: center;
    font-size: 18px;
    font-family: sans-serif;
    border-bottom: 1px solid #fff;
}
.main-container {
    display: inline-block;
    width: 70.5%;
    height: 100%;
    background-color: rgba(11, 16, 33, 1);
}

.top-panel {
	padding: 5px 0px;
    background-color: rgb(0, 35, 66);
    padding-left: 20px;
    padding-top: 15px;
}

.currency-listing {
	list-style: none;
    margin-top: 5px;
    padding-left: 0;
    margin-bottom: 0;
}

.currency-pair-container {
    display: inline-block;
    margin-bottom: 15px;
    min-height: 100px;
    width: 12%;
    border: 1px solid aqua;
    border-radius: 10px;
    margin-right: 17px;
    background-color: #111111;
    cursor: pointer;
    vertical-align: text-top;
}

.currency-pair-container:hover .currency-pair-title {
	background-color: rgba(32, 117, 195, 0.5);
}

.currency-pair-container.selected {
	cursor: default;
	border-color: cyan;
}

.currency-pair-container.selected .currency-pair-title {
    background-color: cyan;/*rgba(34, 224, 5, 0.8);*/
    color: black;
}

.currency-pair-container.selected .live-currency-info {
	color: cyan; /*rgba(34, 224, 5, 0.8);*/
}

.currency-pair-title {
	text-align: center;
    padding: 8px;
    background-color: rgba(32, 117, 195, 0.8);
    font-size: 14px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    font-family: 'ProximaNovaBold';
}

.live-currency-info {
	text-align: center;
	padding: 20px;
	padding-bottom: 0;
    font-size: 14px;
    font-family: 'ProximaNovaRegular';
    font-weight: bold;
}

.change-info {

}

.percentage-change {
	text-align: center;
    display: inherit;
    font-size: 15px;
    margin-top: 8px;
    font-family: 'ProximaNovaRegular';
}

.percentage-change.increase {
	color: chartreuse;
}

.percentage-change.increase:after {
	content: '';
	background-image: url('../images/up-arrow.png');
	width: 16px;
	height: 14px;
	display: inline-block;
    margin-left: 4px;
}

.percentage-change.decrease {
	color: red;
}

.percentage-change.decrease:after {
	content: '';
	background-image: url('../images/down-arrow.png');
	width: 16px;
    height: 15px;
    display: inline-block;
    vertical-align: bottom;
    margin-left: 4px;
}

.center-panel  {
    margin-top: 15px;
}

#chart-container {
    margin-top: 80px;
}

.charting-options {
	height: 30px;
    padding: 5px;
    background-color: rgb(0, 42, 49);
}

.chart-types {

}

.twitter-timeline {
	text-decoration: none;
    font-size: 22px;
    color: aquamarine;
    text-align: center;
    display: block;
    padding-top: 20px;
}
.date-picker-container {
	display: inline-block;
	padding-left: 16px;
	padding-top: 5px;
}

.date-picker-container input {
	line-height: 17px;
}

label.to-date {
	margin-left: 20px;
}

.live-polling-status {
	font-size: 12px;
    font-family: 'ProximaNovaRegular';
}

.hide { 
	visibility: hidden;
}

/* Jquery-ui overrides */
.ui-controlgroup > .ui-controlgroup-item {
    float: left;
    margin-left: 0;
    margin-right: 0;
    padding: 3px 20px;
    font-size: 15px;
    font-family: 'ProximaNovaBold';
}

.ui-controlgroup {
	display: inline-block;
    float: right;
    margin-right: 14px;
}

.ui-state-active {
	background-color: cyan !important; /*rgba(34, 224, 5, 0.8) !important;*/
    border: 1px solid cyan !important; /*rgba(34, 224, 5, 0.8) !important;*/
    color: black !important;
}

.ui-controlgroup-item:focus {
	outline: none !important; 
}

button.ui-datepicker-trigger {
	padding: 2px 9px 2px 9px;
    border-radius: 7px;
    margin-left: 2px;
    vertical-align: top;
    cursor: pointer;
}
